body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
/* icono del menu */

img{
    width: 50px;
    display: flex;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
/* abrir y cerrar*/
.collapsed{
    display: none;
}


nav{
    background-color: black;
    color: yellowgreen;
    width: 100%;
}
/* parte movil */
nav .movil{
    display: none;
    
}

nav .movil .header{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding-left: 25px;
}

nav .movil .header .more button {
    border: none;
    background-color: black;
    color: white;
    padding: 20px;
    cursor: pointer;
    
}
 /* para compu*/

nav .logo{
    min-width: 250px;
}




nav a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px 25px;
    
}
nav a:hover{
    color: yellow;
    background-color: rgb(0, 195, 255);
}


nav .desktop .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    pad: 0 10px;

}



nav .desktop  .primary ,
nav .desktop  .secondary {
    display: flex;

}




nav .desktop .secondary.mini{
    display: none;
}

@media screen and (max-width: 853px)
{
    nav .logo{
        min-width: 100px;
    }
    
    nav .secondary.full{
        display: none;
    }

    nav .secondary.mini{
        display: block !important;
    }


    nav .secondary.mini .submenu{
        background-color: #000;
        position: absolute;
        display: none;
        width: 200px;
        right: 0;
    }

    nav .secondary.mini:hover .submenu{
        display: block;
    }
}

@media screen and (max-width: 500px){

    nav .desktop{
        display: none;
    }

    nav .movil{
        display: block;
    }

   
}
